@using ApplicationName.Models
@{
    ViewBag.Title = "Categories";
}
@model CategoriesModel
<div class="row">
    <div class="col-xs-8">
        <h2 style="text-align:center;">Categories</h2>
    </div>
    <div class="col-xs-4" style="margin-top:20px;">
        @Html.ActionLink("New category", "AddCategory", null, new { @class = "btn btn-success" })
    </div>
</div>
@foreach (var category in Model.EntityList)
{
    <hr />
    <div class="row">
        <div class="col-xs-8"><h4>@Html.ActionLink(category.Name, "DetailsCategory", new { name = category.Name })</h4></div>
        <div class="col-xs-2">@Html.ActionLink(" Edit", "EditCategory", new { name = category.Name }, new { @class = "btn btn-default glyphicon glyphicon-pencil" })</div>
        <div class="col-xs-2"> @Html.ActionLink(" Delete", "DeleteCategory", new { name = category.Name, id = category.ID }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })</div>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <script type="text/javascript">
        alert("@TempData["ErrorMessage"]");
    </script>
}
